body {
    font-family: 'Lato', sans-serif;
    margin: 0;



}

.top-banner {
    padding: 5%;


    height: 400px;

    background-image: url(images/donation5.png);
    background-color: black;

    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
}

.top-banner h1 {
    font-size: 50px;
}

.top-banner p {
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 3%;
}

.top-banner a {
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: 700;
}

.middle-banner {
    padding-top: 5%;
    text-align: center;

}

.middle-banner h1 {
    font-weight: 40px;
}

.taka-count {
    display: flex;
    padding-left: 30%;
    padding-right: 20%;
    width: 40%;
    padding-bottom: 3%;

    margin-right: 5%;


}

.range1 {


    padding: 5%;

    border-radius: 20px;

    box-shadow: 10px 10px 40px gray;
    margin-right: 10px;




}

.range2 {
    padding: 5%;
    border-radius: 20px;
    margin-right: 10px;
    border: 2px solid tomato;


    box-shadow: 10px 10px 40px gray;
}

.range3 {
    padding: 5%;
    border-radius: 20px;
    margin-right: 10px;

    box-shadow: 10px 10px 40px gray;
}

.range4 {
    padding: 5%;
    border-radius: 20px;

    box-shadow: 10px 10px 40px gray;
}

.middle-banner a {
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: 700;

}
.donate-today{
    font-size: 50px;
    font-weight: bold;
}

.amount-taka {
    color: gray;
}

.line {
    margin-bottom: 5%;
}

.our-donate-plan {
    text-align: center;
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
}

.our-donate-plan h1 {
    font-weight: 700;
}
#our-plan{
    font-size: 45px;
    font-weight: bold;
}

.family-items {
    padding-top: 5%;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.items-1 {
    background-color: rgb(179, 171, 171);
    padding: 3%;
    margin: 2%;
    text-align: justify;
    border-radius: 10px;
}

.items-2 {
    background-color: rgb(204, 147, 192);
    padding: 3%;
    margin: 2%;
    text-align: justify;
    border-radius: 10px;
}

.items-3 {
    background-color: blanchedalmond;
    padding: 3%;
    margin: 2%;
    text-align: justify;
    border-radius: 10px;
}

.get-my-update {
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
}

.get-my-update h1 {
    font-weight: bolder;
    font-size: 40px;
}

.info {


    display: flex;
    padding-top: 4%;
    padding-left: 35%;
    padding-right: 20%;
    width: 45%;
    padding-bottom: 3%;
    background-color: blanchedalmond;

    margin-right: 5%;
}

.info-1 {

    border-radius: 20px;
    background-color: white;
    padding-top: 5%;
    padding-right: 50%;
    padding-left: 3%;
    color: gray;

    margin-right: 10px;
    box-shadow: 10px 10px 40px gray;

}

.info-2 {
    padding: 5%;
    border-radius: 20px;
    margin-right: 10px;
    background-color: red;
    color: white;

    box-shadow: 10px 10px 40px gray;
}

.last-end-banner {
    display: flex;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 20%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px;
    margin-left: 6%;

    box-shadow: 10px 10px 40px gray;
}



.Instagram {
    padding-left: 20%;
}

.Dribble {
    padding-left: 20%;
}

footer {
    text-align: center;
    background-color: rgb(108, 111, 143);
    padding-top: 3%;
    padding-bottom: 3%;
    color: white;
}
.footer-head{
    color:black;
}